@import "../base/mixins";

%flex-items {
    flex: 1;
    border-right: 1px solid #c2c2c2;
}

%arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 40%;
}

%button-hover {
    @include font-a(#000, 12px, 700);
    background: #fff;
    padding: 5px 8px;
    border: #e6e6e6 1px solid;
    outline: none;
    border-radius: 12px;
    margin-right: 4px;
    transition: all 0.3s;
    cursor: pointer;
}
