$font: 'Open Sans', sans-serif;
$robotoSlab: 'Roboto Slab', serif;
$playball: 'Playball', cursive;
$Lobster: 'Lobster', cursive;
$roboto: 'Roboto', sans-serif;
$green: #789629;
$black: #000;
$gray: #8686867d;
$grown: #825f59;
$gold: #a97f49;
$yellow: #e3ce33;
$grey: #cbd3df;
$blue: #88d8da;
$pink: #f49ac2;
$light: #e6e6e6;
$smokyGray: #d1d1d1;
$darkGray: #909090;
$facebook: #4763b3;
$tweet: #f8f8f8;
$twitter: #00acee;
$linkedin: #0077b5;
$pinterest: #fcfcfc;
$pin: #be0c21;