.about {
    &__content {
        display: flex;
        margin-bottom: 50px;

        &__img {
            flex: 1;
        }

        &__text {
            flex: 1;

            &__title {
                margin-top: 30px;

                h3 {
                    @include font-a(#000, 18px, 600);
                    text-transform: uppercase;
                }

                p {
                    line-height: 1.5;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .about__content {
        flex-direction: column;

        &__img {
            img {
                width: 100%;
            }
        }

        &__text {
            width: 100%;
            margin-top: 30px;
        }
    }
}