.blog {
    width: 100%;

    &__content {
        margin-bottom: 40px;

        &__posts {
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            &__item {
                margin-top: 30px;

                img {
                    width: 100%;
                }

                h5 {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    border-bottom: 1.5px solid #dedddd80;
                }

                p {
                    padding-right: 10px;
                }

                span {
                    @include font-a($darkGray, 12px, 400);
                    font-style: italic;
                    margin-top: 5px;
                }

                &__btn {
                    margin-top: 10px;
                    padding-top: 10px;
                    border-top: 1.5px solid #dedddd80;
                    display: flex;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        @include font-a(#bababa, 12px, 400);

                        i {
                            margin-left: 5px;
                        }
                    }
                }
            }

            .posts-item1,
            .posts-item4,
            .posts-item7 {
                padding-right: 20px;
            }

            .posts-item3,
            .posts-item6,
            .posts-item9 {
                padding-left: 20px;
            }

            .posts-item2,
            .posts-item5,
            .posts-item8 {
                padding: 0 10px;
            }
        }
    }
}

// Responsive
@media screen and (max-width: 1300px) {
    .blog__content__posts {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .posts-item3,
        .posts-item6,
        .posts-item9 {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .blog__content__posts {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .posts-item2,
        .posts-item4,
        .posts-item5,
        .posts-item8 {
            display: none;
        }

        .posts-item6 {
            display: block;
            padding-left: 0 !important;
        }

        &__item {
            padding-right: 0 !important;
        }
    }
}