.blog-detail {
    width: 100%;
    margin-bottom: 80px;

    &__content {
        width: 100%;
        display: flex;

        .blog-detail__aside {
            margin-right: 15px;

            h3 {
                @include font-a(#000, 18px, inherit);
                border-bottom: 1.5px solid #dedddd80;
                text-transform: uppercase;
                padding-bottom: 10px;
            }

            &__poster {
                &__item {
                    display: flex;
                    margin-top: 30px;

                    &__text {
                        margin-left: 20px;

                        h4 {
                            font-size: 28px;

                            small {
                                font-size: 14px;
                            }
                        }

                        p {
                            font-size: 14px;
                            font-style: italic;
                        }
                    }
                }
            }

            &__tag {
                margin-top: 50px;

                h3 {
                    font-weight: bold;
                }

                &__btn {
                    margin-top: 30px;

                    button {
                        @include button(#fff, 12px, 5px 10px, #000);
                        border: 1px solid $gray;
                        margin-bottom: 10px;
                        margin-right: 5px;

                        &:hover {
                            background: $green;
                            color: #fff;
                        }
                    }
                }
            }

            &__video {
                margin-top: 50px;

                h3 {
                    font-weight: bold;
                }

                &__img {
                    width: 97%;
                    height: 200px;
                    background-image: url('../../../assets//img/blog-detail/video.jpg');
                    background-size: cover;
                    background-position: center;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    &__overlay {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &__icon {
                            width: 60px;
                            height: 60px;
                            background: #0000006b;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            opacity: 0;
                            cursor: pointer;
                            transition: all 0.3s;

                            i {
                                color: #fff;
                                margin-right: 0;
                            }
                        }
                    }

                    &__overlay:hover .blog-detail__aside__video__img__overlay__icon {
                        opacity: 1;
                    }
                }
            }
        }

        .blog-detail__article {
            margin-left: 15px;

            img {
                width: 100%;
                margin-top: 35.5px;
            }

            &__title {
                h1 {
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 62px;
                    border-bottom: 1.5px solid #dedddd80;
                    padding-bottom: 20px;
                }
            }

            &__post {
                p {
                    font-size: 16px;
                    margin-top: 30px;
                    line-height: 1.8;
                    margin-bottom: 30px;
                }

                span {
                    @include font-a($darkGray, 18px, 400);
                    font-style: italic;
                }

                &__btn {
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1.5px solid #dedddd80;
                    display: flex;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        @include font-a($darkGray, 18px, 400);

                        i {
                            margin-left: 5px;
                        }
                    }
                }
            }

            &__tag {
                margin-top: 50px;
                display: flex;
                border-bottom: 1.5px solid #dedddd80;
                padding-bottom: 15px;

                h5 {
                    @include font-a($darkGray, 18px, inherit);
                    margin-right: 15px;
                }

                p {
                    @include font-a(#000, 18px, inherit);
                }
            }

            &__comments {
                margin-top: 20px;

                h3 {
                    text-transform: uppercase;
                    @include font-a(#000, 18px, 600);
                }

                .form-group {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;

                    label {
                        width: 10%;
                        font-size: 16px;
                    }

                    input,
                    textarea {
                        width: 90%;
                        border: 1.5px solid #dedddd80;
                        padding: 10px;
                    }
                }

                .form-btn {
                    margin-top: 30px;
                    
                    a {
                        @include button(#000, 14px, 10px 20px, #fff);
                        text-transform: uppercase;
                        margin-left: 10%;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .blog-detail__content {
        aside {
            display: none;
        }

        .blog-detail__article {
            margin-left: 0 !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .form-group {
        flex-direction: column !important;

        label {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }

    .form-btn {
        a {
            margin-left: 0 !important;
        }
    }
}