.login {
    width: 100%;
    margin-bottom: 80px;

    &__content {
        width: 100%;

        &__title {
            display: flex;
            justify-content: space-between;

            &__btn {
                margin: 20px 0;
                padding: 5px 10px;

                a {
                    padding: 5px 20px;
                }
            }
        }

        &__form {
            &__title {
                margin-bottom: 30px;
            }

            &__btn {
                margin-top: 20px;

                p {
                    margin-right: 20px;
                }

                a {
                    padding: 5px 15px;
                }
            }
        }

        form {
            width: 50%;
        }
    }
}

// Responsive
@media screen and (max-width: 767px) {
    .login__content__form {
        form {
            width: 100%;
        }
    }
}