.newsletter {
    height: 960px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    &__content {
        width: 600px;
        height: 600px;
        background-image: url(../../../../assets/img/home/bg-popup.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;

        h3 {
            font-size: 28px;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: #000;
        }

        p {
            font-size: 12px !important;
            margin-bottom: 5px !important;
            margin-top: 0 !important;
        }

        input {
            display: block !important;
            width: 65%;
            height: 40px;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 25px;
            outline: none;
            border: 1px solid #dcdcdc;
        }

        a {
            @include font-a(#000, 14px, 500);
            text-transform: uppercase;
            margin-top: 30px;
        }

        &__icon {
            position: absolute;
            top: -70px;

            img {
                cursor: pointer;
            }
        }
    }
}