footer {
    background: #050505;

    .footer__content {
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            color: $gray;
            font-size: 14px;
        }

        i {
            color: $green;
        }
        &__contact {
            flex: 2;
            margin-right: 30px;
            padding-right: 50px;

            &__add {
                display: flex;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            &__phone {
                display: flex;
                margin: 10px 0;

                &__item1,
                &__item2 {
                    display: flex;
                }

                img, p {
                    margin-right: 10px;
                }
            }

            &__mail {
                display: flex;
                margin: 10px 0;

                &__item1,
                &__item2 {
                    display: flex;
                }

                p {
                    margin-right: 20px;
                }

                p.email {
                    font-style: italic;
                    color: $green;
                    cursor: pointer;
                }
            }
        }

        &__shipping {
            flex: 1;
        }

        &__support {
            flex: 1;
        }

        &__info {
            flex:1;
        }

        &__acc {
            flex: 1;
        }

        ul {
            margin: 20px 0;

            li {
                position: relative;
                margin: 10px 0;

                a {
                    @include font-a($gray,14px,400);
                }

                &:hover {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 40%;
                        width: 5px;
                        height: 5px;
                        background: $green;
                    }

                    a {
                        padding-left: 10px;
                        @include font-a($green,13px,400)
                    }
                }
            }
        }
    }

    .footer__copyright {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        p {
            color: $gray;
            font-size: 12px;
            font-family: 'Roboto Slab', sans-serif;
        }
    }

    .footer__border {
        position: absolute;
        width: 100%;
        height: 1px;
        background: #86868636;
    }
}

// Responsive
@media screen and (max-width: 1300px) {
    footer {
        .footer__content {
            flex-direction: column;
            width: 100%;

            &__contact,
            &__shipping,
            &__support,
            &__info {
                border-bottom: 1px solid #86868636;
                padding-bottom: 10px;
            }

            &__shipping,
            &__support,
            &__info,
            &__acc {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .footer__content__contact__phone,
    .footer__content__contact__mail {
        flex-direction: column;

        &__item1 {
            margin-bottom: 10px;
        }
    }

    .footer__copyright {
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 10px;
        }
    }
}